@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.Admin, .User, .Branch, .AdminProfile, .GeneralNetwork, .Group{
    background:rgba(224, 224, 224, 0.5);
    padding-bottom: 4rem;
}
.bd-grey{ border: 1px solid #E0E0E0; }
.f-12{ font-size: 12px; }
.user-section{
    position: relative;
    .user-block{
        width: 100%;
        height: 150px;
        background-image: url('../../../assets/images/blue_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    img{
        position: absolute;
        left: 37%;
        top: 40%;
        @include screenSize(tablet){
            left: 25%;
        }
        @include screenSize(ss-phone){
            left: 40%;
        }

    }
    .user-details{ margin-top: 3rem; }
}
.resources-section{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    
    .resources{
        li{
            a{
                color: $color-1;
                text-decoration: none;
            }
        }
    }
}
input.form-control{
    width: 97%;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    background: #F2F2F2;
    border: 0.75px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
}
.church-section{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
}
.create-post{
    border: 1px solid #DDDCDC;
}
.create-post-input, .comment-input{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 6px;
}
.upload-input{
    width: 132px;
    background: #e0e0e0;
    height: 36px;
    z-index: 1000;
    position: absolute;
    opacity: 0;
}
.tag-friends, .btn-upload{
    width: 132px;
    height: 36px;
    background: #E0E0E0;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 12px;
}
.tag-friends{
    @include screenSize(ss-phone){
        margin-left: 7px !important;
    }
   
}
.btn-upload, .tag-friends{
    @include screenSize(tablet){
        margin-left: 0px !important;
        margin-top: 7px;
    }
     @include screenSize(xs-phone){
        margin-left: 0px !important;
        margin-top: 7px;
    }
}
.comment-box{
    .input-group{
        .form-control{
            height: 36px;
            background: rgba(224, 224, 224, 0.3);
        }
        .input-group-text{
            background: rgba(224, 224, 224, 0.3);
        }
    }
}
.post-likes, .post-comment{
    @include screenSize(tablet){
        font-size:12px;
    }
    @include screenSize(xs-phone){
        font-size: 12px;
        margin-right: 10px !important;
    }
}