
.Home{
    background-image:url('../../../assets/images/Vector.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    main{
        flex: 1 0 auto;
        width: 100%;
        .info{
            margin-top: 4rem;
        }
    }
    .form-check-input{
        width: 20px;
        height: 20px;
        &:after{
            color: blue;
        }
    }
    input[type='radio']{
        background-color: blue !important;
    }
}
.mr-5e{ margin-right: 5rem; }