@import '../../../assets/scss/base';
.OnBoarding{
    background-image:url('../../../assets/images/Vector.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    main{
        .info{
            margin-top: 4rem;
        }
    }
}