@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.DashboardHeader{
    border: 1px solid rgba(8, 88, 125, 0.6);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.navbar{
    padding: 0;
    .navbar-collapse{
        align-items: flex-end;
    }
    .navbar-nav{
        
        .nav-item{
            .nav-link{
                &:hover{
                    background: transparent !important;
                    border-bottom: 2px solid $color-1;
                }
                i.fa{
                    &hover{
                        background: $color-1;
                    }
                }
            }
        }
    }
}
.user-img{
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    padding: 5px;
    @include screenSize(ss-phone){
        width: 50px;
        margin-bottom: 10px;
    }

}
.dropdown-toggle {
    padding: 0 !important;
    border-radius: 50%;
    &:focus{
        border: 1px solid $color-1;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }
    &::after{
        display: none !important;
    }
}
.dashboard-nav--dropdown{
   .dropdown-menu{
        .dropdown-item{
            &:hover{
                text-decoration: none !important;
                background: rgba(8, 88, 125, 0.6) !important;
                color:#FFF !important;
            }
        }
    } 
}


.navbar-nav{
    .form-control{
        background: #F2F2F2 !important;
        border: 0.75px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 8px;
    }
}
.blue-dot{
    background: $color-1;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    position: absolute;
    bottom: 20%;
    right: 0;
    @include screenSize(ss-phone){
        left: 9%;
        bottom: 8px;
    }
}