@import '../../assets/scss/_variables';
@import '../../assets/scss/_mixins';

.nav-link.header-nav-link{
    &:hover{
        background: $color-1 !important;
        color: #fff !important;
    }
}
.nav-border {
	border-right: 0.5px solid $color-1;
	@include screenSize(ss-phone){
		border: none;
		border-bottom: 0.5px solid $color-1;
	}
}
.header-link{
	nav-link{
		padding-right: 24px;
		padding-left: 24px;	
	}
}